* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.button {
  border: solid 2px #50e3c2;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

h2 {
  color: #50e3c2;
}

nav {
  width: 100%;
  height: 70px;
  background-color: #0a192f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  margin: auto 10px;
  color: #50e3c2;
}

#welcome {
  padding-left: 30px;
  position: static;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px;
}

#welcome h2 {
  padding-top: 10px;
  padding-bottom: 40px;
  color: #50e3c2;
}

#welcome p {
  padding: 5px;
  border: solid 2px #50e3c2;
  color: #50e3c2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
}

#about h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: #0a192f;
}

#about {
  text-align: center;
  margin-bottom: 30px;
}

#about div {
  margin-top: 20px;
  height: 75px;
}

#about span {
  border: solid 2px #50e3c2;
  color: #0a192f;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px 0 5px;
  text-decoration: none;
}

#about p {
  margin: auto;
  text-align: center;
}

#about img {
  height: 100px;
  width: 100px;
}

#anotherAboutMe {
  border: solid red 2px;
  margin-bottom: 20px;
}

#usedTech h3 {
  color: #7433ff;
}

#usedTech div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#portfolio-section h2 {
  width: 100%;
  background-color: #0a192f;
  color: #50e3c2;
  padding: 10px;
}

#portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

#portfolio div {
  border: solid red 2px;
  height: 50vh;
  margin: 10px 0;
}

#portfolio img {
  height: 80%;
  width: 100%;
}

form {
  border: solid 2px #50e3c2;
}

form input {
  margin: 10px 0 0 25%;
  border: 2px solid #7433ff;
  border-radius: 4px;
  width: 50%;
  height: 30px;
}

form input:focus {
  background-color: yellow;
  border: #50e3c2;
}

#submit {
  height: 100px;
}

#contact p {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 20px 0;
}

footer {
  margin-top: 50px;
  color: #50e3c2;
  background-color: #0a192f;
}

footer p {
  padding: 18px;
}

#contact h2 {
  padding: 10px;
  width: 100%;
  background-color: #0a192f;
}

@media only screen and (min-width: 768px) {
  #welcome {
    margin: 10% 0 0 10%;
  }
  #welcome h5 {
    font-size: 20px;
  }
  #welcome h1 {
    font-size: 50px;
  }
  #welcome h2 {
    font-size: 30px;
  }
  #welcome p {
    margin-top: 50px;
  }
  #about a {
    font-size: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 2px;
    background-color: #7433ff;
    color: #50e3c2;
    height: 50px;
    width: 100px;
    margin: 70px 5px 20px 5px;
  }
  #about img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    width: 200px;
  }
}

#portfolio div {
  width: 80%;
  margin: 10px auto;
}

@media only screen and (min-width: 1024px) {
  nav a {
    margin-right: 50px;
    color: #50e3c2;
  }
  #portfolio {
    margin-bottom: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 200px;
  }
  #portfolio div {
    width: 100%;
    max-width: 500px;
  }
}
/*# sourceMappingURL=styles.css.map */