$tertiary-color: rgb(48, 55, 77);
$secondary-color: rgb(217, 231, 238);
$primary-color: rgb(27, 164, 162);
$base-spacing: 6px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: $tertiary-color;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.button {
  border: solid 2px $secondary-color;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  min-width: 80px;
  max-width: max-content;
  max-height: min-content;
  color: $secondary-color;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: $primary-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    margin: auto 10px;
    color: $secondary-color;
  }
}

.header {
  height: 10vh;
  background-color: $primary-color;
  color: $secondary-color;
  padding: $base-spacing * 3;
  width: 100%;
  margin: 30px 0;
}

#welcome {
  padding-left: 30px;
  position: static;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  p {
    padding: 5px;
    border: solid 2px $secondary-color;
    color: $secondary-color;
    width: max-content;
    border-radius: 5px;
  }
}

.viewPort {
  min-height: 100vh;
}

#about {
  div {
    margin: 10% 0 0 10%;

    padding-left: 30px;
    height: 75px;
    // text-align: center;
    display: flex;
  }

  p {
    color: $secondary-color;
  }

  img {
    margin-right: 100px;
    height: 100px;
    width: 100px;
  }
}

#portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;

  div {
    border: solid 2px $secondary-color;
    height: 50vh;
    margin: 0 auto;
    color: $secondary-color;
    text-align: center;
  }

  img {
    height: 80%;
    width: 100%;
  }
}

#contact {
  p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    color: $secondary-color;
  }
  span {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
}

footer {
  color: $secondary-color;
  background-color: $primary-color;

  p {
    padding: $base-spacing * 2;
  }
}

@media only screen and (min-width: 768px) {
  #welcome {
    padding-left: 0;
    margin: 10% 0 0 10%;

    h5 {
      font-size: 20px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
    }
    p {
      margin-top: 50px;
    }
  }

  #about {
    div {
      padding-left: 0;
    }
    img {
      display: flex;
      height: 200px;
      width: 200px;
    }
  }
}

#portfolio {
  div {
    width: 80%;
    // margin: 10px auto;
  }
}

@media only screen and (min-width: 1024px) {
  // .header {
  //   height: 10vh;
  //   background-color: $tertiary-color;
  //   color: $secondary-color;
  // }

  nav {
    a {
      margin-right: 50px;
      color: $secondary-color;
    }
  }
  #portfolio {
    margin-bottom: $base-spacing * 5;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 200px;
    div {
      width: 100%;
      max-width: 500px;
    }
  }
}
