$primary-color: rgb(10, 25, 47);
$secondary-color: rgb(80, 227, 194);
$tertiary-color: rgb(116, 51, 255);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.button {
  border: solid 2px $secondary-color;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

h2 {
  color: $secondary-color;
}
nav {
  width: 100%;
  height: 70px;
  background-color: $primary-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
    margin: auto 10px;
    color: $secondary-color;
  }
}

#welcome {
  padding-left: 30px;
  position: static;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;

  h2 {
    padding-top: 10px;
    padding-bottom: 40px;
    color: $secondary-color;
  }

  p {
    padding: 5px;
    border: solid 2px $secondary-color;
    color: $secondary-color;
    width: max-content;
    border-radius: 5px;
  }
}

#about {
  h2 {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    background-color: $primary-color;
    float: right;
  }
}

#aboutMe {
  text-align: center;
  a {
    border: solid 2px $secondary-color;
    color: $tertiary-color;
    border-radius: 5px;
    padding: 5px;
    margin: 20px 5px 0 5px;
    text-decoration: none;
  }
  p {
    margin: auto;
    text-align: center;
  }

  img {
    display: none;
  }
}

#usedTech {
  h3 {
    color: $tertiary-color;
  }

  div {
    display: flex;
    flex-direction: row;
  }
}

#portfolio {
  width: 100%;
  // padding: 10px;

  h2 {
    padding: 10px;
    width: 100%;
    background-color: $primary-color;
    text-decoration: none;
  }

  div > h3 {
    text-decoration: none;
  }

  p {
    text-decoration: none;
  }
}

.portfolioCard {
  border: solid black 2px;
  margin: 10px auto;
  width: 80%;
  text-align: center;

  .portfolioCard:hover {
    border: $secondary-color;
  }

  .projectText {
    display: none;
    color: $secondary-color;
  }
  .projectText:hover {
    display: flex;
    color: $secondary-color;
  }

  h2 & p {
    background-color: $secondary-color;
    opacity: 0.2;
  }

  img {
    width: 100%;
    height: 40%;
    max-height: 220px;
  }
}

form {
  border: solid 2px $secondary-color;

  input {
    margin: 10px 0 0 25%;
    border: 2px solid $tertiary-color;
    border-radius: 4px;
    width: 50%;
    height: 30px;
  }

  input:focus {
    background-color: yellow;
    border: $secondary-color;
  }
}

#submit {
  height: 100px;
}

#contact {
  height: 100vh;

  p {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px 0;
  }
}

footer {
  color: $secondary-color;
  background-color: $primary-color;
}

@media only screen and (min-width: 768px) {
  #welcome {
    margin: 10% 0 0 10%;

    h5 {
      font-size: 20px;
    }
    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 30px;
    }
    p {
      margin-top: 50px;
    }
  }

  #about {
    #aboutMe {
      // > div {
      //   border: solid red 2px;
      // }

      #yetAnotherAboutMe {
        display: flex;
        flex-direction: row;
      }

      #anotherAboutMe {
        display: flex;
        flex-direction: row;
      }
      a {
        font-size: 20px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        border-radius: 2px;
        background-color: $tertiary-color;
        color: $secondary-color;
        height: 50px;
        width: 100px;
        margin: 70px 5px 20px 5px;
      }
      img {
        display: flex;
        height: 200px;
        width: 200px;
      }
    }
  }
}

.portfolioCard {
  img {
    max-height: 300px;
  }
}
