* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #30374d;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.button {
  border: solid 2px #d9e7ee;
  border-radius: 5px;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  min-width: 80px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
  color: #d9e7ee;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: #1ba4a2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  text-decoration: none;
  margin: auto 10px;
  color: #d9e7ee;
}

.header {
  height: 10vh;
  background-color: #1ba4a2;
  color: #d9e7ee;
  padding: 18px;
  width: 100%;
  margin: 30px 0;
}

#welcome {
  padding-left: 30px;
  position: static;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#welcome p {
  padding: 5px;
  border: solid 2px #d9e7ee;
  color: #d9e7ee;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
}

.viewPort {
  min-height: 100vh;
}

#about div {
  margin: 10% 0 0 10%;
  padding-left: 30px;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about p {
  color: #d9e7ee;
}

#about img {
  margin-right: 100px;
  height: 100px;
  width: 100px;
}

#portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
}

#portfolio div {
  border: solid 2px #d9e7ee;
  height: 50vh;
  margin: 0 auto;
  color: #d9e7ee;
  text-align: center;
}

#portfolio img {
  height: 80%;
  width: 100%;
}

#contact p {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 20px 0;
  color: #d9e7ee;
}

#contact span {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  color: #d9e7ee;
  background-color: #1ba4a2;
}

footer p {
  padding: 12px;
}

@media only screen and (min-width: 768px) {
  #welcome {
    padding-left: 0;
    margin: 10% 0 0 10%;
  }
  #welcome h5 {
    font-size: 20px;
  }
  #welcome h1 {
    font-size: 50px;
  }
  #welcome h2 {
    font-size: 30px;
  }
  #welcome p {
    margin-top: 50px;
  }
  #about div {
    padding-left: 0;
  }
  #about img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 200px;
    width: 200px;
  }
}

#portfolio div {
  width: 80%;
}

@media only screen and (min-width: 1024px) {
  nav a {
    margin-right: 50px;
    color: #d9e7ee;
  }
  #portfolio {
    margin-bottom: 30px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0 200px;
  }
  #portfolio div {
    width: 100%;
    max-width: 500px;
  }
}
/*# sourceMappingURL=styles.css.map */